{{#if (eq delay 0)}}
{{{get-loading-style rate}}}
{{else}}
<div class="progress-bar" role="progressbar" aria-valuenow="{{rate}}" aria-valuemin="0" aria-valuemax="100"><span>{{rate}}%</span></div>
{{/if}}