{{#each comments as |comment|}}
   {{single-comment comment=comment}}
{{/each}}
{{#if loadingStatus}}
{{loader-img show=loadingStatus}}
{{/if}}
{{#if isThereMore}}
<div class="loadMoreComments">
    <a {{action "loadMore"}}>
        <i class="fa fa-cube"></i>Load more...
    </a>
</div>
{{/if}}