<div class="col-md-4">
    <p>Написано комментариев: <b>{{comments}}</b></p>
</div>
<div class="col-md-4">
    <p>Количество активных пользователей: <b>{{users}}</b></p>
</div>
<div class="col-md-4">
    <p>Количество отданых лайков: <b>{{likes}}</b></p>
</div>
