.post .comment{
position: relative;
border: 1px solid #edeef0;
word-wrap: break-word;
margin: 5px;
padding: 10px;
padding-bottom: 0;
background-color: #fff;
  a i {
    cursor: pointer;
  }
  .time{
    position: absolute;
    right: 0;
    padding: 1%;
  }
  .name{
    padding: 2%;
  }
  .stats{
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    .likes {
      padding: 5px 10%;
      padding-bottom: 0;
      }
  }
}