.post .comment{
position: relative;
border: 1px solid #edeef0;
word-wrap: break-word;
margin: 5px;
padding: 10px;
padding-bottom: 0;
background-color: #fff;
  .user{
    a {
      &:first-of-type{
        text-decoration: none;
      }
      span {
          width: 14px;
          height: 14px;
          background: limegreen;
          border-radius: 10px;
          position: absolute;
          top: 95px;
          left: 85px;
          border: 3px solid #fff;
        }
    }
  }
  a i {
    cursor: pointer;
  }
  .time{
    position: absolute;
    right: 0;
    padding: 1%;
  }
  .name{
    padding: 2%;
  }
  .stats{
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    .likes {
      padding: 5px 10%;
      padding-bottom: 0;
      }
  }
}