@import "ember-bootstrap/bootstrap";
@import "components/components";

body{background-color: #edeef0 !important;}
p {
    padding: 10px;
    padding-bottom: 0;
    }
.container {
    padding: 0;
}
.overlay {
    position: fixed;
    top: 0;
    background-color: #666;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.no-scroll {
    overflow: hidden;
}

.getStats {
    position: fixed;
    width: 100%;
    background: #337ab7;
    padding: 10px;
    cursor: pointer;
    z-index: 10000;
    top: 0;
    color: #fff;
    &:hover{
        text-decoration: none;
        color: #c1faff;
    }
}