.progress{
    margin-bottom: 0;
    margin-top: 10px;
    .progress-bar {
        background-color: #DDF;
    }
    span{
        width: 100%;
        color: #666;
        font-weight: bold;
        text-align: center;
    }
}
