.attachments{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    .link-attachment{
        border: 1px solid #edeef0;
        p {
            text-align: left;
            padding-top: 5px;
        }
    }
    .photo-attachment{
        padding: 10px;
        border: 1px solid #edeef0;
        display: inline-block;
        a {
            text-decoration: none;
            img {
                cursor: pointer;
            }
        }
        .img-fullscreen{
            position: fixed;
            z-index: 999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            height: auto;
        }
    }
}