.page-header{
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  a:hover, a:active, a:focus{
    text-decoration: none;
  }
  header {
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 10px;
    margin-top: calc(10px + 39px);
    background-color: #45688E;
    transition: background-color 0.5s ease;
    &:hover{
      background-color: #2a5885;
    }
    h1{
      i {
        color: #fff;
        font-size: 10px;
      }
    }
  }
}