.statistics{
    .container{
        .name-col{
            padding: 0 0 0 7px;
            line-height: 1.1em;
            max-width: 84px;
            span {
                display: inline-block;
                height: 50px;
                padding-left: 3px;
                border-left: 1px solid #eee;
            }
        }
        .pic-col{
            max-width: 60px;
        }
        h4.prime{
            margin-bottom: 20px;
        }
        h4+div,h4+div+div{ 
            i:first-of-type{
                color: #fff;
            }
        }
        input{
            width: 50px;
            margin-right: 10px;
        }
        button{
            .placeholder{
                display: inline-block;
                width: 35px;
            }
        }
        @media (max-width: 767px){
            .topcomments, .toplikes, .topposts{
                &.main .col-xs-6:last-of-type,
                &.main-2 .col-xs-6:last-of-type {
                    width: 100%;
                }
            }
        }
        @media (min-width: 768px){
            .topcomments, .toplikes, .topposts{
                &.main-2 .col-xs-6:last-of-type {
                    width: 33.3333%;
                }
                &.main .col-xs-6{
                    &:nth-of-type(4),
                    &:last-of-type{
                        width: 50%;
                    }
                }
            }
        }
        @media (min-width: 992px){
            .topcomments, .toplikes, .topposts{
                &.main .col-xs-6{
                    width: 20%;
                    &:nth-of-type(4),
                    &:last-of-type{
                        width: 20%;
                    }
                }
            }
        }
        .topcomments, .toplikes, .topposts{
            p.stats-info{
                font-size: 12px;
                line-height: 1.2em;
                padding: 0;
                margin: 0;
                margin-top: 5px;
                height: 25px;
            }
            .inner-box{
                height: 135px;
                img{
                    width: 50px;
                    height: 50px;
                }
                background-color: #fff;
                padding: 10px;
                border: 1px solid #eee;
                margin-bottom: 10px;
            }
        }
        .topcomments, .toplikes{
            a.name{
                font-size: 12px;
                display: block;
                margin-bottom: 10px;
                height: 30px;
            }
        }
        .topposts{
            a.name{
                font-size: 12px;
            }
            p{
                display: inline-block;
                padding: 0;
                margin: 0;
            }
        }
        .row {
            &.mainstat{
                div{
                    font-size: 12px;
                    padding-right: 5px;
                    padding-left: 5px;
                    &:first-of-type{
                        padding-left: 15px;
                    }
                    &:last-of-type{
                        padding-right: 15px;
                    }
                }
                p{
                    background-color: #fff;
                    padding: 10px;
                    span span{
                        font-size: 16px;
                        i:first-of-type{
                            color: #eee;
                        }
                    }
                }
            }
            margin-left: 0;
            margin-right: 0;
            .container{
                width: 100%;
            }
            a.user{
                .user-overlay img {
                    top: -18px;
                    left: 0;
                }
                position: relative;
                &:hover{
                    text-decoration: none;
                }
                span.online{
                            width: 14px;
                            height: 14px;
                            background: #8ac176;
                            border-radius: 10px;
                            position: absolute;
                            top: 20px;
                            left: 37px;
                            border: 3px solid #fff;
                }
            }
            .comment{
                background-color: #fff;
                padding: 10px;
                margin: 15px 0;
                .user .user-overlay img {
                    left: 25px;
                }
                .stats.onTop{
                    position: absolute;
                    top: 50px;
                    right: 30px;
                    font-size: 16px;
                }
            }
            .post {
                .comment .user .user-overlay img {
                left: 10px;
                }
                .comment{
                        .stats.onTop{
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            font-size: 14px;
                            border-top: none;
                            margin: 0;
                            padding: 0;
                            .likes{
                                padding: 0;
                            }
                    }
                }
            }
            .post, .comment{
                .user{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    a span {
                        top: 48px;
                        left: 48px;
                    }
                }
            }
        }
    }
}
