{{#if list}}
    {{#put-stats list=list action=changeAmount}}
        <div class="pull-right">
            <button type="button" class="btn btn-primary loadMore" {{action "changeAmount" 100}}><i class="fa fa-plus"> 100</i></button>
        </div>
    {{/put-stats}}
{{else}}
    {{loader-img show=true}}
{{/if}}
{{outlet}}
