<div class="page-header">
<header><h1>RT</h1></header>
</div>
<div class="container" id="content">
    {{outlet}}
</div>
<div class="footer" id="footer">You're not making it easy <i class="fa fa-copyright" aria-hidden="true"></i> 2016</div>