.post{
position: relative;
padding: 10px !important;
border: 1px solid #edeef0;
border-radius: 2px;
margin: 15px 0;
word-wrap: break-word;
background-color: #fff;
  .time{
    position: absolute;
    right: 0;
    padding: 1%;
  }
  .name{
    padding: 2%;
  }
  .stats{
    border-top: 1px #edeef0 solid;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    .likes, .comments, .reposts{
      padding: 5px 10%;
      display: inline-block;
    }
    a.comments {
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background-color: #edeef0;
      }
    }
  }
  .loadMoreComments {
    margin: 25px;
    text-align: center;
    a{
      padding: 10px 10%;
      cursor:pointer;
      text-decoration: none;
      &:hover{
        background-color: #edeef0;
      }
    }
  }
}