.post{
  .repost {
    border: solid 1px #eee;
    border-bottom: none;
    padding: 0 20px;
    .time {
      right: 30px;
    }
    .user{
      object{
        &:before{
            width: 50px;
            height: 50px;
            font-size: 14px;
            padding: 12.5px;
            position: relative;
        }
        img{
            width: 50px;
            height: 50px;
            left: 65px;
        }
      }
    }
  }
  .user{
    white-space: nowrap;
    object{
      &:before{
        position: relative;
      }
    }
      img{
          width: 100px;
          height: 100px;
      }
    a {
      &:first-of-type{
        text-decoration: none;
      }
      span.online {
          width: 14px;
          height: 14px;
          background: #8ac176;
          border-radius: 10px;
          position: absolute;
          top: 95px;
          left: 85px;
          border: 3px solid #fff;
        }
    }
  }
position: relative;
padding: 10px !important;
border: 1px solid #edeef0;
border-radius: 2px;
margin: 15px 0;
word-wrap: break-word;
background-color: #fff;
  .time, .linkToPost{
    float: right;
    padding: 5px;
  }
  .linkToPost {
    top: 30px;
  }
  .name{
    padding: 2%;
  }
  .stats{
    border-top: 1px #edeef0 solid;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    .likes, .comments, .reposts{
      padding: 5px 10%;
      display: inline-block;
    }
    a.comments {
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background-color: #edeef0;
      }
    }
  }
  .loadMoreComments {
    margin: 25px;
    text-align: center;
    a{
      padding: 10px 10%;
      cursor:pointer;
      text-decoration: none;
      &:hover{
        background-color: #edeef0;
      }
    }
  }
}